.menu_superior {
  display: none;
}

/*MOBILE*/
@media screen and (max-width: 768px) {
  .menu_lateral {
    display: none;
  }

  .imagem_logo {
    margin-top: 4vh;
    margin-bottom: 5vh;
  }

  .menu_aberto {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 38.5vh;
    height: 100%;
    z-index: 999;
    background-color: rgb(1, 1, 15);
  }

  .menu_aberto_ativo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0vh;
    color: white;
    opacity: 1;
    transform: translateY(0);
  }

  .menu_aberto .closed {
    position: absolute;
    right: 3vh;
    top: 3vh;
    height: 3vh;
    width: auto;
    cursor: pointer;
  }

  .menu_aberto .menu_opcoes {
    z-index: 1000;
    text-align: center;
    text-transform: uppercase;
  }

  .menu_aberto .menu_opcoes li {
    list-style-type: none;

    font-weight: 700;
    margin-top: 5vh;
    font-size: 1.5em;
    cursor: pointer;
  }

  .menu_aberto .menu_opcoes li:last-child {
    margin-top: 40vh;
    cursor: pointer;
  }

  .menu_superior {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
    min-height: auto;
    min-width: 100vw;
    padding: 2vh;
  }

  .menu_superior h1 {
    font-size: 1.3em;

    font-weight: 700;
    white-space: nowrap;
  }

  .imagem_sandwich {
    height: 6vw;
    width: auto;
    cursor: pointer;
    padding-left: 1vh;
  }

  .perfil_config .imagem_perfil {
    height: 7vw;
    width: auto;
    padding-right: 1vh;
  }

  .painel_home h1 {
    display: none !important;
  }

  .menu_sanduiche {
    position: relative;
    display: flex;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    color: white;
    transform: scaleY(0);
    /* Esconde o menu */
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
  }

  .menu.open {
    transform: scaleY(1);
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu ul li {
    padding: 15px;
    text-align: center;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }

  .menu ul li a:hover {
    background-color: #575757;
  }

  .gridpainel_home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 19px;
    width: 100%;
    max-width: 80vh;
    margin: 10% 6% 50px 6%;

  }

  .gridpainel_home .controle_estoque {
    background-color: #b4b4b4;
    height: 40vh;
    width: 88%;
  }

  .gridpainel_home .estatistica_venda {
    background-color: #b4b4b4;
    height: 40vh;
    width: 88%;
  }

  .gridpainel_home .ultimas_vendas {
    background-color: #b4b4b4;
    height: 40vh;
    width: 88%;
  }
}

/*TABLET EM MODO PAISAGEM*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {

  /* HOME */
  .menu_lateral {
    display: none;
  }

  .imagem_logo {
    margin-top: 4vh;
    margin-bottom: 5vh;
  }

  .menu_aberto {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 45vh;
    height: 100%;
    z-index: 999;
    background-color: rgb(1, 1, 15);
  }

  .menu_aberto_ativo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0vh;
    color: white;
    opacity: 1;
    transform: translateY(0);
  }

  .menu_aberto .closed {
    position: absolute;
    right: 3vh;
    top: 3vh;
    height: 3vh;
    width: auto;
    cursor: pointer;
  }

  .menu_aberto .menu_opcoes {
    z-index: 1000;
    text-align: center;
    text-transform: uppercase;
  }

  .menu_aberto .menu_opcoes li {
    list-style-type: none;

    font-weight: 700;
    margin-top: 5vh;
    font-size: 1.5em;
    cursor: pointer;
  }

  .menu_aberto .menu_opcoes li:last-child {
    margin-top: 37vh;
    cursor: pointer;
  }

  .menu_superior {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
    min-height: auto;
    min-width: 100vw;
    padding: 2vh;
  }

  .menu_superior h1 {
    font-size: 2em;

    font-weight: 700;
    white-space: nowrap;
  }

  .imagem_sandwich {
    height: 3vw;
    width: auto;
    cursor: pointer;
    padding-left: 6vh;
  }

  .perfil_config .imagem_perfil {
    height: 4vw;
    width: auto;
    padding-right: 6vh;
  }

  .painel_home h1 {
    display: none !important;
  }

  .menu_sanduiche {
    position: relative;
    display: flex;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    color: white;
    transform: scaleY(0);
    /* Esconde o menu */
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
  }

  .menu.open {
    transform: scaleY(1);
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu ul li {
    padding: 15px;
    text-align: center;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }

  .menu ul li a:hover {
    background-color: #575757;
  }

  .gridpainel_home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    width: 100%;
    max-width: 100%;
    margin: 10% 5% 50px 5%;

  }

  .gridpainel_home .controle_estoque {
    background-color: #b4b4b4;
    height: 50vh;
    width: 90%;
  }

  .gridpainel_home .estatistica_venda {
    background-color: #b4b4b4;
    height: 50vh;
    width: 90%;
  }

  .gridpainel_home .ultimas_vendas {
    background-color: #b4b4b4;
    height: 50vh;
    width: 90%;
  }

  /* LOGIN */

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: white;
    padding: 5em;
  }

  .login .imagem_logo {
    margin-bottom: 1.5em;
  }

  .login input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 15em;
  }

  .login button {
    margin-top: 2em;
    padding: 1em;
    width: 15em;
    font-size: large;

    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1em;
    color: rgb(1, 1, 15);
    background: white;

    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .login button:hover {
    box-shadow: inset 400px 0 0 0 #c2dfe0;
  }


}

/*TABLET EM MODO RETRATO*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu_lateral {
    display: none;
  }

  .imagem_logo {
    margin-top: 4vh;
    margin-bottom: 5vh;
  }

  .menu_aberto {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 38.5vh;
    height: 100%;
    z-index: 999;
    background-color: rgb(1, 1, 15);
  }

  .menu_aberto_ativo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0vh;
    color: white;
    opacity: 1;
    transform: translateY(0);
  }

  .menu_aberto .closed {
    position: absolute;
    right: 3vh;
    top: 3vh;
    height: 3vh;
    width: auto;
    cursor: pointer;
  }

  .menu_aberto .menu_opcoes {
    z-index: 1000;
    text-align: center;
    text-transform: uppercase;
  }

  .menu_aberto .menu_opcoes li {
    list-style-type: none;

    font-weight: 700;
    margin-top: 5vh;
    font-size: 1.5em;
    cursor: pointer;
  }

  .menu_aberto .menu_opcoes li:last-child {
    margin-top: 45vh;
    cursor: pointer;
  }

  .menu_superior {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
    min-height: auto;
    min-width: 100vw;
    padding: 2vh;
  }

  .menu_superior h1 {
    font-size: 2em;

    font-weight: 700;
    white-space: nowrap;
  }

  .imagem_sandwich {
    height: 4vw;
    width: auto;
    cursor: pointer;
    padding-left: 2vh;
  }

  .perfil_config .imagem_perfil {
    height: 6vw;
    width: auto;
    padding-right: 2vh;
  }

  .painel_home h1 {
    display: none !important;
  }

  .menu_sanduiche {
    position: relative;
    display: flex;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    color: white;
    transform: scaleY(0);
    /* Esconde o menu */
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
  }

  .menu.open {
    transform: scaleY(1);
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu ul li {
    padding: 15px;
    text-align: center;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }

  .menu ul li a:hover {
    background-color: #575757;
  }

  .gridpainel_home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    width: 100%;
    max-width: 80vh;
    margin: 10% 5% 50px 5%;

  }

  .gridpainel_home .controle_estoque {
    background-color: #b4b4b4;
    height: 50vh;
    width: 90%;
  }

  .gridpainel_home .estatistica_venda {
    background-color: #b4b4b4;
    height: 50vh;
    width: 90%;
  }

  .gridpainel_home .ultimas_vendas {
    background-color: #b4b4b4;
    height: 50vh;
    width: 90%;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1201px) {
  .pagina_home {
    display: flex;
    flex-direction: row;
  }

  .main_inicial {
    background: rgb(3, 3, 3);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: left;
    justify-content: center;
  }

  .logo_acesso_inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .logo_acesso_inicial button {
    margin-top: 2em;
    padding: 1em;
    font-size: large;

    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1em;
    color: rgb(1, 1, 15);
    background: white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .main {
    background: rgb(212, 212, 212);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    position: fixed;
  }

  .logo_inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .logo_inicial button {
    margin-top: 2em;
    padding: 1em;
    font-size: large;

    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1em;
    color: rgb(1, 1, 15);
    background: white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .logo_inicial button:hover {
    box-shadow: inset 400px 0 0 0 #2f2f2f;
  }

  /* LOGIN */
  .login {

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    position: fixed;
    padding: 0 17vh 0 17vh;
  }

  .login .imagem_logo {
    width: 32vh;
    height: auto;
    margin-bottom: 5vh;
  }

  .login input {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 2vh;
    width: 32vh;
    text-transform: initial;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    border-radius: 7px;
  }

  .login button {
    margin-top: 2.3em;
    padding: 2vh;
    width: 32vh;
    font-size: large;

    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: rgb(254, 254, 254);
    background: rgb(112, 112, 112);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .login button:hover {
    box-shadow: inset 400px 0 0 0 #2c2c2c;
    color: white;
  }

  .esqueceu_senha {
    margin-top: 2.3em;
    font-size: 1.7vh;
    text-transform: initial;
  }

  /* ESQUECEU SENHA */
  .login h2 {
    font-weight: bolder;

    text-transform: uppercase;
    text-align: center;
    font-size: 2.65vh;
    width: 32vh;
    margin: 3vh 0 3vh 0;
  }

  .login span {
    text-transform: initial;
    font-weight: 550;
    font-size: 1.5vh;
    width: 32vh;
    margin: 3vh 0 3vh 0;
    text-align: center;
  }

  .login .imagem_logo_esqueceu {
    width: 13vh;
    height: auto;
    margin-bottom: 2.5vh;
  }


  /* HOME */
  .header {
    display: flex;
    min-height: 100vh;
  }

  .menu_lateral {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: rgb(1, 1, 15);
    padding: 7vh;
    min-height: 100%;
    min-width: 46vh;
  }

  .menu_lateral .imagem_logo {
    height: 8vh;
    width: auto;
    margin-bottom: 4vh;
  }

  .menu_lateral .menu_opcoes {
    margin-top: 10vh;

    font-weight: 800;
    text-align: left;
    text-transform: uppercase;

  }

  .menu_lateral .menu_opcoes li {
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 1em;
    padding: 2vh 5vh 2vh 2vh;
    margin-left: -7vh;
    cursor: pointer;
    opacity: 0.8;
  }

  .menu_lateral .menu_opcoes li:hover {
    opacity: 1;
    box-shadow: -8px 0 0 0 #5DB505;
  }

  .menu_lateral .menu_opcoes li:last-child {
    font-weight: 900;
    margin-top: 30vh;
    padding-right: 70%;
  }

  .menu_lateral .menu_opcoes li:last-child:hover img {
    content: url('/images/icone_sair_hover.png');
    width: 20px;
    transition: 0.2s;
  }

  .menu_lateral .menu_opcoes li:hover {
    background-color: #151414;
    transition: width 0.3s ease-in-out;
    box-sizing: content-box;
    transition: 0.2s;
  }

  .menu_lateral .menu_opcoes .icones_menu_lateral {
    margin: 0 12px 0 0;
  }

  .painel_home {
    padding: 5vh;
    min-width: 100%;
    min-height: 100%;
    margin-left: 45vh;
  }

  .gridpainel_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
  }

  .gridpainel_home .controle_estoque {
    background-color: rgb(154, 154, 154);
    height: 50vh;
    width: 75vh;
  }

  .gridpainel_home .estatistica_venda {
    background-color: rgb(154, 154, 154);
    height: 50vh;
    width: 75vh;
  }

  .gridpainel_home .ultimas_vendas {
    background-color: rgb(154, 154, 154);
    height: 50vh;
    width: 75vh;
  }

  .painel_home h1 {
    margin-bottom: 5vh;
    font-size: 2em;
  }

  /* PRODUTOs*/
  .pagina_produto {
    display: flex;
    flex-direction: row;
  }

  .painel_produto {
    padding: 5vh;
    margin-left: 45vh;
    min-width: 100vw;
    min-height: 100vh;
  }

  .painel_produto h1 {
    margin-bottom: 5vh;
    font-size: 2em;
  }

  .gridpainel_produto {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    gap: 20px;
    width: 80vh;
  }

  .gridpainel_produto .botoes_produto {
    display: inline-flex;
    justify-content: flex-start;
    width: 100vh;
  }

  .gridpainel_produto .botoes_produto:nth-of-type(2) {
    width: 35vh;
  }

  .gridpainel_produto .botoes_produto button {
    margin-top: 2em;
    margin-right: 1em;
    padding: 1em;
    font-size: 1.5vh;
    font-weight: 700;
    height: 2vh;
    width: 50vh;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    background: #5DB505;
    display: flex;
    box-sizing: content-box;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
  }

  .gridpainel_produto .botoes_produto button:hover {
    color: white;
    background: #0e7b04;
    transition: 0.5s;
    font-weight: 900;
  }

  .gridpainel_produto .botoes_produto .pesquisa_produto {
    margin: 3vh 3vh 0 0;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 100vh;
    height: 5vh;
    position: relative;
  }

  .gridpainel_produto .botoes_produto .botao_pesquisar .icones_tabela {
    width: 100%;
    height: 100%;
  }

  .gridpainel_produto .botoes_produto input {
    background: none;
    border: none;
    outline: none;
    flex: 1;
    padding: 0 10px;
    font-size: 12px;
    height: 100%;
  }

  .gridpainel_produto .botoes_produto .pesquisa_produto.focused {
    border: 2px solid black;
    margin: 2.9vh 2.9vh 0 0;

  }

  .gridpainel_produto .botoes_produto .botao_pesquisar {
    background-color: green;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
  }

  .lista_produtos table {
    width: 100%;
    border-spacing: 0px;
    font-size: medium;
    box-sizing: border-box;
    border-collapse: collapse;
  }

  .lista_produtos table td {
    padding: 10px 15px;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid gray;
  }

  .lista_produtos table thead tr th {
    width: 11.2vh;
    font-size: 1.8vh;
    padding: 1vh;
    background-color: lightgrey;
    border: 1px solid gray;
  }

  .lista_produtos table thead tr th:last-child {
    background-color: white;
    border: none;
  }

  .lista_produtos table tbody tr td {
    width: 10vh;
    font-size: 2vh;
    text-transform: initial;
  }

  .lista_produtos table tbody tr td:nth-child(2) {
    width: 20vh;
  }

  .lista_produtos table tbody tr td:last-child {
    padding: 0.5vh 0 0.5vh 0;
  }

  .lista_produtos table tbody tr .botoes_acao {
    display: flex;
    justify-content: center;
  }

  .lista_produtos table tbody tr td:last-child .itens_acao {
    height: 2.2vh;
    width: auto;
  }

  .lista_produtos button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3vh;
    padding: 1.5vh;
    width: 19px;
    height: 19px;
    background: #5DB505;
    border-radius: 5px;
    border: none;
  }

  .lista_produtos button:hover {
    background: #0e7b04;
    transition: 0.5s;
  }

  .gridpainel_produto .botoes_produto .icones_tabela {
    padding-right: 12px;
    height: 15px;
    width: auto;
  }

  .gridpainel_produto .botoes_produto .pesquisa_produto .icones_tabela {
    background: #5DB505;
    height: 5vh;
    padding: 7px;
    margin: 12% -0.5vh 0 0;
    padding-right: 12px;
    border-radius: 0 10px 10px 0;
    object-fit: contain;
  }

  .gridpainel_produto .botoes_produto .pesquisa_produto .icones_tabela:hover {
    background: #0e7b04;
    transition: 0.5s;
  }

  /* CATEGORIA */
  .categorias input {
    margin-right: 1em;
    font-size: 1.5vh;
    padding: 1em;
    height: 2vh;
    width: 29.5vh;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    cursor: text;
    align-items: center;
    box-sizing: content-box;
    justify-content: center;
    text-transform: uppercase;
  }

  .categorias button {
    margin-top: 2vh;
    margin-right: 1em;
    padding: 1em;
    font-size: 1.5vh;
    font-weight: 700;
    height: 2vh;
    width: 30vh;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    background: #5DB505;
    display: flex;
    box-sizing: content-box;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .categorias .icones_tabela {
    width: 2vh;
    height: 100%;
    margin-right: 2vh;
  }

  .categorias table {
    width: 33vh;
    border-collapse: collapse;
    margin-top: 2vh;
  }

  .categorias td {
    border: 1px solid gray;
    padding: 15px 0;
    text-align: center;
  }

  .categorias tr:not(:last-child) td {
    border-bottom: 1px solid black;
  }

  /*MODAL CADASTRAR PRODUTOS*/
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal_excluir {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modalContainer_excluir {
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 15px;
    width: 50vh;
    height: 30vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .modalContainer {
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 15px;
    width: 50vh;
    height: 90vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .modalHeader {
    display: flex;
    padding-left: 3.5vh;
    margin-bottom: 5vh;
  }

  .modalHeader h2 {
    margin-top: 0.6em;
    font-size: 1.1em;
    font-weight: 700;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .closeButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
    position: relative;
    top: -3vh;
    right: -2vh;
  }

  .closeButton_excluir {
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
    position: relative;
    top: -3vh;
    right: -40vh;
  }

  .modalBody {
    display: flex;
    flex-direction: column;
    padding: 0 1.5vh 0 1.5vh;
  }

  .modalBody .icone {
    height: 2vh;
    width: auto;
  }

  .modalBody .icone_excluir {
    margin-right: 1vh;
    height: 3vh;
    width: auto;
  }

  .modalBody input,
  .modalBody textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 3vh;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 0.6em;
    outline: none;
  }

  .modalBody textarea {
    height: 100px;
    resize: none;
  }

  .submit_modal {
    width: 100%;
    background-color: #5DB505;
    color: #FFFFFF;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .submit_modal_lote {
    margin-top: 7vh;
  }

  .submit_modal_excluir {
    margin-top: 3vh;
    width: 100%;
    background-color: #5DB505;
    color: #FFFFFF;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .submit_modal img {
    margin-right: 10px;
  }

  .submit_modal:hover {
    background-color: #0e7b04;
    transition: 0.5s;
  }

  .modalBody input:focus,
  .modalBody textarea:focus {
    border-color: #39B54A;
  }

}

/*DESKTOP LARGO*/

@media (min-width: 1900px) {
  .pagina_home {
    display: flex;
    flex-direction: row;
  }

  .main_inicial {
    background: rgb(3, 3, 3);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: left;
    justify-content: center;
  }

  .logo_acesso_inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .logo_acesso_inicial button {
    margin-top: 4em;
    padding: 2em;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1em;
    color: rgb(1, 1, 15);
    background: white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .main {
    background: rgb(212, 212, 212);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    position: fixed;
  }

  .logo_inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .logo_inicial button {
    margin-top: 2em;
    padding: 1em;
    font-size: large;

    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1em;
    color: rgb(1, 1, 15);
    background: white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .logo_inicial button:hover {
    box-shadow: inset 400px 0 0 0 #2f2f2f;
  }

  /* LOGIN */
  .login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    position: fixed;
    padding: 0 17vh 0 17vh;
  }

  .login .imagem_logo {
    width: 30vh;
    height: auto;
    margin-bottom: 5vh;
  }

  .login input {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2vh;
    width: 32vh;
    height: 6vh;
    font-size: large;
    text-transform: initial;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    border-radius: 10px;
  }

  .login button {
    margin-top: 2.3em;
    padding: 2vh;
    width: 32vh;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: rgb(254, 254, 254);
    background: rgb(112, 112, 112);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .login button:hover {
    box-shadow: inset 400px 0 0 0 #2c2c2c;
    color: white;
  }

  .esqueceu_senha {
    margin-top: 2.3em;
    font-size: 1.5vh;
    text-transform: initial;
  }

  /* ESQUECEU SENHA */
  .login h2 {
    font-weight: bolder;

    text-transform: uppercase;
    text-align: center;
    font-size: 2.65vh;
    width: 32vh;
    margin: 3vh 0 3vh 0;
  }

  .login span {
    text-transform: initial;
    font-weight: 550;
    font-size: 1.5vh;
    width: 32vh;
    margin: 3vh 0 3vh 0;
    text-align: center;
  }

  .login .imagem_logo_esqueceu {
    width: 13vh;
    height: auto;
    margin-bottom: 2.5vh;
  }


  /* HOME */
  .header {
    display: flex;
    min-height: 100vh;
  }

  .menu_lateral {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: rgb(1, 1, 15);
    padding: 7vh;
    min-height: 100%;
    min-width: 46vh;
  }

  .menu_lateral .imagem_logo {
    height: 8vh;
    width: auto;
    margin-bottom: 4vh;
  }

  .menu_lateral .menu_opcoes {
    margin-top: 10vh;

    font-weight: 800;
    text-align: left;
    text-transform: uppercase;

  }

  .menu_lateral .menu_opcoes li {
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 1em;
    padding: 2vh 5vh 2vh 2vh;
    margin-left: -7vh;
    cursor: pointer;
    opacity: 0.8;
  }

  .menu_lateral .menu_opcoes li:hover {
    opacity: 1;
    box-shadow: -8px 0 0 0 #5DB505;
  }

  .menu_lateral .menu_opcoes li:last-child {
    font-weight: 900;
    margin-top: 30vh;
    padding-right: 70%;
  }

  .menu_lateral .menu_opcoes li:last-child:hover img {
    content: url('/images/icone_sair_hover.png');
    width: 20px;
    transition: 0.2s;
  }

  .menu_lateral .menu_opcoes li:hover {
    background-color: #151414;
    transition: width 0.3s ease-in-out;
    box-sizing: content-box;
    transition: 0.2s;
  }

  .menu_lateral .menu_opcoes .icones_menu_lateral {
    margin: 0 12px 0 0;
  }

  .painel_home {
    padding: 5vh;
    min-width: 100%;
    min-height: 100%;
    margin-left: 45vh;
  }

  .gridpainel_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
  }

  .gridpainel_home .controle_estoque {
    background-color: rgb(154, 154, 154);
    height: 50vh;
    width: 75vh;
  }

  .gridpainel_home .estatistica_venda {
    background-color: rgb(154, 154, 154);
    height: 50vh;
    width: 75vh;
  }

  .gridpainel_home .ultimas_vendas {
    background-color: rgb(154, 154, 154);
    height: 50vh;
    width: 75vh;
  }

  .painel_home h1 {
    margin-bottom: 5vh;
    font-size: 2em;
  }

  /* PRODUTO */

  .pagina_produto {
    display: flex;
    flex-direction: row;
  }

  .painel_produto {
    padding: 5vh;
    min-width: 100vw;
    min-height: 100vh;
  }

  .gridpainel_produto {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
  }

  .painel_produto h1 {
    margin-bottom: 5vh;
    font-size: 2em;
  }

  .gridpainel_produto .botoes_produto {
    display: inline-flex;
    justify-content: flex-end;
  }

  .gridpainel_produto .botoes_produto button {
    margin-top: 2em;
    font-size: 2vh;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background: rgb(84, 84, 84);
    height: 3vh;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lista_produtos table {
    box-sizing: border-box;
    border-spacing: 0px;
    border-collapse: collapse;

  }

  .lista_produtos table tbody>tr:nth-child(odd)>td {
    background-color: hsla(0, 0%, 50.2%, .0705882353);
  }

  .lista_produtos table td {
    padding: 15px;
    line-height: 1.5;
    vertical-align: top;
    border: 1px solid hsla(0, 0%, 50.2%, .5019607843);
  }

  .lista_produtos table thead tr th {
    width: 10em
  }

  .gridpainel_produto .botoes_produto .icones_tabela {
    margin-right: 12px;
    padding-right: 12px;
  }
}


/* LANDING_PAGE */
.landing_page nav {
  list-style: none;

}

.landing_page ul {
  list-style: none;
}

.main_lp {
  background: url(../../public/images/bgBanner.png);
  background-size: cover;
  height: 640px;
}


/* header */
.landing_page header {
  background-color: white;
  width: 90%;
  position: absolute;
  margin: 3% 0 5% 5%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.landing_page header img {
  margin-top: 2vh;
  margin-left: 5vh;
  margin-bottom: 1.5vh;
}

.landing_page header nav {
  display: flex;

}

.landing_page ul {
  display: flex;
  text-transform: uppercase;

}

.landing_page header li {
  margin: 0 1vh;
  font-family: MontserratExtraBold;
  padding: 2vh;
}

.landing_page header li:first-child {
  margin-left: 0;
}

.landing_page header li:last-child {
  margin-right: 5vh;
}

.btn_login {
  background-color: #5DB505;
  color: white;
  width: 25vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}